body{
    position: relative;
    z-index: -2;
}

.food_cards{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    margin: 60px 60px 60px 60px;
    z-index: -1;
}

.card{
    height: 650px;
}

.card-body a{
    position: absolute;
    bottom: 10px;
}

@media (max-width: 1330px) {
    .food_cards{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 970px) {
    .food_cards{
        grid-template-columns: repeat(2, 1fr);
    }
}